#wrapper.clearfix
  #container.clearfix
    .main-container.clearfix
      .main-container__menu
        %ul.main-container__menu__list
          %li.active
            %a{:href => "", :target => "_self"}トップ
          %li
            %a{:href => "", :target => "_self"}新着
          %li
            %a{:href => "", :target => "_self"}連想ボケ
      %ul.main-container__content
        %li.top
          = render 'top'
        %li.new_boke.kakusu
          = render 'new_boke'
        %li.rensou_boke.kakusu
          = render 'rensou'
          / renderで別のコントローラーのviewファイルを指定しても、そのコントローラーの機能をまるごと持ってこれるわけではない。bokeのindexに今書いているのだからbokeコントローラーの機能が使われている。renderはただそこのviewをとってくるだけ。

