#wrapper.clearfix
  #container.clearfix
    .main-container.clearfix
      .main-container__menu
        %ul.main-container__menu__list
          %li.active
            %a{:href => "", :target => "_self"}トップ
          %li
            %a{:href => "", :target => "_self"}新着
          %li
            %a{:href => "", :target => "_self"}人気
          %li
            %a{:href => "", :target => "_self"}ピックアップ
          %li
            %a{:href => "", :target => "_self"}セレクト
          %li
            %a{:href => "", :target => "_self"}殿堂入り
      %ul.main-container__content
        %li.top
          = render 'top'
        %li.new_boke.kakusu
          = render 'new_boke'
        .main-container__content-attention
          注目ボケ
        = render partial: 'horizon', collection: @rates, as: :rate
        %p.main-container__content-text
          %a.btn-primary.btn.btn-long{:href => "/boke/popular"} もっとみる
        .main-container__content-attention
          新着ボケ
          = render partial: 'new_bokes', collection: @new_bokes, as: :boke
