.pin
  .odai-inner
    .odai-photo-wrapper
      = link_to new_odai_boke_path(odai), method: :get, class: "odai-photo" do
        = image_tag odai.image.url if odai.image.url
      .odai-meta
        = link_to root_path do
          %span.fa.fa-camera{:title => "photo by"}
            音信不通
        = link_to root_path do
          %span.fa.fa-picture-o{:title => "odai by"}
            音信不通
