#wrapper.clearfix
  #container.clearfix
    .main-container.clearfix
      .main-container__menu
        %ul.main-container__menu__list
          %li.active
            %a{:href => "", :target => "_self"}セレクト
          %li
            %a{:href => "", :target => "_self"}マイページ
          %li
            %a{:href => "", :target => "_self"}設定
          %li
            = link_to "お題投稿", new_odai_path, method: :get
      .main-container__content
        .odai-list
          - @odais.each do |odai|
            = render partial: "pin", locals: { odai: odai}
