.main-container__content-center {
    text-align: center;
    &-category {
        display: inline-block;
        margin: 0 auto 20px;
        &-element {
            background-color: #c6c6c6;
            border-color: #fff;
            float: left;
        }
    }
}

.odai-list {
    margin: 0 -8px;
    margin: 15px;
    .odai-inner {
        margin: 0 0 20px 0;
        padding: 0;
        width: 300px;
        border-bottom: 1px solid #eee;
        .odai-photo-wrapper {
            border: 1px #999 solid;
            margin: 5px auto;
            font-weight: bold;
            .odai-photo {
                img {
                    width: 200px;
                    margin: 50px;
                }
            }
            .odai-meta {
                font-size: 12px;
            }
        }
    }
}

.odai-hukusu-list {
    margin: 0 -8px;
    margin: 15px;
    .odai-inner {
        margin: 0 0 20px 0;
        padding: 0;
        width: 195px;
        float: left;
        .odai-photo-wrapper {
            margin: 5px auto;
            font-weight: bold;
            .odai-photo {
                img {
                    width: 155px;
                    margin: 50px;
                }
            }
            .odai-meta {
                font-size: 12px;
            }
        }
    }
}

.main-container__content-boke_photo-content-odais {
    img {
        width: 155px;
        margin: 10px;
    }
}

.odai-hukusu-list.kakusu {
    textarea {}
    input {}
}

.clearfix {
    @include clearfix();
}
