.main-container__content-center {
    text-align: center;
    &-category {
        display: inline-block;
        margin: 0 auto 20px;
        &-element {
            background-color: #c6c6c6;
            border-color: #fff;
            float: left;
        }
    }
}

.odai-list {
    margin: 0 -8px;
    .pin {
        margin: 15px;
        .odai-inner {
            margin: 65px 0px 100px 30px;
            width: 300px;
            .odai-photo-wrapper {
                .odai-photo {
                    img {
                        width: 100%;
                        max-height: 300px;
                    }
                }
                .odai-meta {
                    font-size: 12px;
                }
            }
        }
    }
}

.clearfix{
  @include clearfix();
}
