.main-container__content-text2 {
    margin: 0 0 10px;
}

.main-container__content-login {
    text-align: center;
    background-color: #eee;
    border-radius: 10px;
    &-form {
        padding: 20px 0 40px;
        width: 600px;
        margin: auto;
    }
}

.new_user {}
